body {
  padding-bottom: 150px;
}
.page-content {
  margin-top: 75px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post .blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post .blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.developer-notifications {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  height: 120px;
}
.developer-notifications .panel-body {
  overflow-y: auto;
  height: 82px;
}
