body {
	padding-bottom: 150px;
}

.page-content {
	margin-top: 50px;
}

.developer-notifications {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	height: 120px;

	.panel-body {
		overflow-y: auto;
		height: 82px;
	}
}

.blog-post {
	margin-bottom: 60px;

	.blog-post-title {
		margin-bottom: 5px;
		font-size: 40px;
	}

	.blog-post-meta {
		margin-bottom: 20px;
		color: #999;
	}
}
