body {
	padding-bottom: 150px;
}

.page-content {
	margin-top: 75px;
}

@import "typography.less";
@import "blog.less";

.developer-notifications {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	height: 120px;

	.panel-body {
		overflow-y: auto;
		height: 82px;
	}
}
